
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
    color: white;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* graphical left hand section */

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
}



.info {
    background-color: red;
    height: 100%;
    width: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 3vh;
}

.info > a {
    font-size: 20px;
}

.info > img {
    margin-top: 7vh
}

.info > h1 {
    text-align: start;
    padding-left: 3vw;
}

/* container section */
.container {
    display: flex;
    height: 100vh;
}


/* forms section */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(22, 33, 50);
    height: 100%;
    width: 100%;
    padding: 15vh 6vw;
    color: gray;
    
}

form {
    margin-top: 6vh;
}

.form {
    display: flex;
    flex-direction: column;
    border: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin: 3vh 0;
    justify-content: start;
}

.input-container > input {
    min-height: 4vh;
    width: clamp(175px, 50%, 200px);
    border-radius: 5px;
    border: none;
    color: gray;
    padding-left: 5px;
}

input:focus {
    border: 2px solid blue;
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 2px solid red;
}

.inner-sections {
    display: flex;
}

.form-container > button {
    width: 15%;
    background-color: red;
    border: none;
    border-radius: 5px;
    min-height: 5vh;
    width: clamp(100px, 50%, 150px);
    margin-bottom: 2vh;
    cursor: pointer;
}

div > a {
    color: red;
}

